html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	background: #98FB98;
	margin: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* テーブル関連 */
table {
	border: 1px solid #000;
	border-spacing: 0px;
	background-color:#FFF;
	clear:both;
}

th {
	border: 1px solid #000;
	background-color: #CFF;
	text-align: center;
	font-size: 13px;
}

td {
	border: 1px solid #000;
	font-size: 12px;
	word-break: break-all;
	padding: 2px 5px;
}


.tdheading {
	background-color: #CFF;
	font-weight: bold;
	font-size: 13px;
}

.tdLeft {
	text-align: left;
}

.tdCenter {
	text-align: center;
}

.tdRight {
	text-align: Right;
}

.tdTop {
	vertical-align: top;
}

.tdMiddle {
	vertical-align: middle;
}

.tdBottom {
	vertical-align: bottom;
}


/* 文字寄せ */
.strLeft{
	text-align: left;
}

.strCenter{
	text-align: center;
}

.strRight{
	text-align: Right;
}

.numCenter {
	text-align: center;
}

.numRight {
	text-align: right;
}





